div {
  background: rgb(51, 187, 99);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  #info {
    font-size: 40px;
  }

  .title {
    color: green;
  }

  .content {
    p {
      color: palevioletred;

      .text {
        color: white;
      }
    }

    p:hover {
      color: blueviolet;
    }
  }
}